// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'teams/teams.scss';
// endinjector

html, body {
  font-family: 'Roboto', sans-serif;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
