.circular {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(assets/profile_picture.jpg) no-repeat 50% 50%;
}
