div(flex='', layout='column')

  // Container #1 (in wireframe)
  md-toolbar.md-whiteframe-z2(layout='row')
    md-button.menu(hide-gt-sm='', ng-click='toggleList()', aria-label='Show User List')
      md-icon(md-svg-icon='menu')
    h1 Supergol

  // Container #2 (in wireframe)
  div(flex='', layout='row')
    // Container #3 (in wireframe)
    md-sidenav.md-whiteframe-z2(md-is-locked-open="$mdMedia('gt-sm')", md-component-id='left', layout='column')
      md-toolbar(layout="column" layout-align="center center")
        .circular
        h3 Pepito
      md-content
        md-menu-item
          md-button(ng-click="goToTeamsView()")
            md-icon(md-svg-icon="social:people")
            | Teams
        md-menu-item
          md-button(ng-click="goToTournamentsView()")
            md-icon(md-svg-icon="social:public")
            | Tournaments


    // Container #4 (in wireframe)
    md-content#content(flex layout-padding)
      //md-icon.avatar(md-svg-icon='{{ul.selected.avatar}}')
      //h2 {{ul.selected.name}}
      //p {{ul.selected.content}}
      //md-button.share(md-no-ink='', ng-click='ul.share($event)', aria-label='Share')
      //  md-icon(md-svg-icon='share')
      .ui-view
